#documentosregistrodoc table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

#documentosregistrodoc table {
	border:1px black solid;
	border-radius:5px;
	min-width:400px;
	font-family: Helvetica,Arial;
}

#documentosregistrodoc table td {
	padding:6px;
}

#documentosregistrodoc table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}

#documentosregistrodoc table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}

#documentosregistrodoc table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

#documentosregistrodoc table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

#documentosregistrodoc table td:not(:last-child) {
	border-right:1px #666 solid;
}


#documentosregistrodoc table tr:nth-child(2n) {
	background: #E8DEC7;
}

#documentosregistrodoc table tr:nth-child(2n+1){
	background: #FF200A;
}

/*table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
	background:#E0FFFF;
}*/

#documentosregistrodoc table:not(.header) tr {
	text-align: left;
}

#documentosregistrodoc table.header tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
}

#documentosregistrodoc table.header tr:nth-child(n+2) {
	text-align: right;
}